* {
    box-sizing: border-box;
}

#page {
    padding: 5px;
    margin: 20px auto;
    width: 94%;
}

#header {
    color: white;
    background-color: rgb(21, 50, 65);
    text-align: center;
}

#sidebar {
    float: left;
    width: 25%;
}

#main {
    float: right;
    width: 75%;
}

#footer {
    border-top: 1px solid rgb(27, 27, 27);
    clear: both;
}

#redbox {
    width: 100px;
    height: 100px;
    background: rgb(255, 201, 201);
    position: relative;
    animation: 2s redbox;
    animation-iteration-count: 10;
}

@keyframes redbox {
    0% {
        background-color: rgb(255, 201, 201);
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: rgb(255, 201, 201);
        left: 100px;
        top: 0px;
    }

    50% {
        background-color: rgb(255, 135, 135);
        left: 200px;
        top: 0px;
    }

    75% {
        background-color: rgb(255, 201, 201);
        left: 100px;
        top: 0px;
    }

    100% {
        background-color: rgb(255, 201, 201);
        left: 0px;
        top: 0px;
    }
}

#rabbit,
#turtle {
    display: block;
    position: relative;
    margin: 10px;
    animation: run 5s infinite;
}

#rabbit {
    animation-timing-function: ease-out;
}

#turtle {
    animation-timing-function: ease-in;
}

@keyframes run {
    from {
        left: 0px;
    }

    to {
        left: 500px;
    }
}

@media screen and (max-width: 480px) {

    #header,
    #sidebar,
    #main {
        width: 100%;
    }

}