body {
    margin: 0px;
}

#redbox {
    left: 500px;
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    animation: 2s box;
    animation-iteration-count: 10;
}

@keyframes box {
    0% {background-color: red; left: 0px; top: 0px;}
    25% {background-color: red; left: 100px; top: 0px;}
    50% {background-color: rgb(255, 111, 111); left: 200px; top: 0px;}
    75% {background-color: rgb(255, 0, 0); left: 100px; top: 0px;}
    100% {background-color: red; left: 0px; top: 0px;}
}

header {
    margin: 0px;
    text-align: center;
    padding: 3px;
    background-color: rgb(25, 26, 26);
    color: white;
}

h2 {
    margin: 0px;
}

nav {
    float: left;
    width: 30%;
}


section#main {
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 90%;
    clear: both;
    border-top: 1px solid rgb(152, 151, 151);
}

figcaption {
    padding: 10px 0px;
}

article img {
    padding-right: 5px;
}


@keyframes test {
    0% {background-color: red; left: 0px; top: 0px;}
    25% {background-color: red; left: 100px; top: 0px;}
}

img#rabbit {
    display: block;
    position: relative;
    margin: 10px;
    animation: ani 5s infinite;
    animation-timing-function: ease-out;
}

img#turtle {
    display: block;
    position: relative;
    margin: 10px;
    animation: ani 5s infinite;
    animation-timing-function: ease-in;
}
@keyframes ani {
    from {left: 0px;}
    to { left: 500px;}
}

figure {
    margin: 0;
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    section {
        width: 100%;
    }

}

